<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="./index.css" asp-append-version="true"/>
</head>
<body class="bg-gray-200 font-sans leading-normal tracking-normal h-full">

<nav class="bg-gray-900 p-4 mt-0 w-full">
    <div class="container mx-auto flex items-center">
        <div class="flex text-white font-extrabold">
            <a class="flex text-white text-base no-underline hover:text-white hover:no-underline" href="#">
                <span class="hidden w-0 md:w-auto md:block pl-1">Исторические личности!</span>
            </a>
        </div>
        <div class="flex pl-4 text-sm">
            <ul class="list-reset flex justify-between flex-1 md:flex-none items-center">
                <li class="mr-2">
                    <a class="inline-block py-2 px-2 text-white no-underline" asp-page="Index">HOME</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--slide in nav-->
<div id="header" class="bg-white fixed w-full z-10 top-0 hidden animated" style="opacity: .95;">
    <div class="bg-white">
        <div class="flex flex-wrap items-center content-center">
            <div class="flex w-1/2 justify-start text-white font-extrabold">
                <a class="flex text-gray-900 no-underline hover:text-gray-900 hover:no-underline pl-2" href="#">
                     <span class="hidden w-0 md:w-auto md:block pl-1">Исторические личности!</span>
                </a>
            </div>
        </div>

    </div>
    <!--Progress bar-->
    <div id="progress" class="h-1 bg-white shadow" style="background:linear-gradient(to right, #4dc0b5 var(--scroll), transparent 0);"></div>
</div>

<div>
    <main role="main">
        @RenderBody()
    </main>
</div>

<footer class="bg-gray-900 sticky top-[100vh]">
    <div class="container max-w-6xl mx-auto flex items-center px-2 py-8">

        <div class="w-full mx-auto flex flex-wrap items-center">
            <div class="flex w-full md:w-1/2 justify-center md:justify-start text-white font-extrabold">
                <a class="text-gray-900 no-underline hover:text-gray-900 hover:no-underline" href="#">
                    👻 <span class="text-base text-gray-200">Ghostwind CSS</span>
                </a>
            </div>
        </div>
    </div>
</footer>

<script src="./index.js" asp-append-version="true"></script>
<script src="https://unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@4"></script>
<script>
	tippy('.avatar')
</script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>