@page "/callback"
@model WebApplication2.Pages.CallbackModel
@{
    ViewData["Title"] = "Callback";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Successfully logged in, redirecting...</h1>
